.container-wide
  .navbar
    %ul.nav.mobile-center.header_nav
      %a.logo{:href => "/"} 
      .li-wrap
        %li.nav-animate
          %a{:href => "/"} Home
        %li.nav-animate
          %a{:href => "/#about"} About
        %li.nav-animate
          %a{:href => "/#contact"} Contact 