.container-wide
  .navbar
    %ul.mobile-center.nav.header_nav
      %a.logo.logo-home{:href => "/"} 
      .li-wrap
        %li.nav-animate
          %a.about-link{:href => ""} About
        %li.nav-animate
          %a{:href => "/careers"} Careers
        %li.nav-animate
          %a.contact-link{:href => ""} Contact 