:javascript
  //<![CDATA[
  <!--
  var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
  "=92){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
  ".substr(0,ol);}f(\")68,\\\"020\\\\230\\\\220\\\\100\\\\500\\\\030\\\\D310\\" +
  "\\730\\\\[MPo_#>GjvlH4I)gwvbnz-.Wgfk)ilfpt020\\\\530\\\\720\\\\8500\\\\600\\"+
  "\\720\\\\520\\\\430\\\\r\\\\t\\\\Rt\\\\020\\\\610\\\\t\\\\?1x400\\\\k27\\\"" +
  "\\\\&lh420\\\\4!6.[_720\\\\TZAB020\\\\@XH500\\\\UVGEl}y8x`p2R1y{gha 430\\\\" +
  "G[_330\\\\730\\\\420\\\\330\\\\400\\\\130\\\\630\\\\I120\\\\r\\\\400\\\\2(8" +
  "63\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++" +
  "y)68<i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"   ;
  while(x=eval(x));
  //-->
  //]]>